.component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffba00;
  width: 100%;
  overflow: hidden;
}

.formsContainer {
  display: flex;
  align-items: center;
  height: 40%;
  width: 40%;
  border-radius: 1rem;
  background-color: #151515d8;
  color: #fff;
}

.backIcon {
  background-color: transparent;
  position: absolute;
  top: 30%;
  margin: 0.5rem;
}

form p {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 1rem;
  width: 100%;
}

/* Input */
::ng-deep .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #fff !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #ffba00 !important;
}

form>button {
  margin-top: 2rem;
  padding: 5px 0;
  background-color: #ffba00;
}

.link {
  text-decoration: underline;
  color: #ffba00;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.none {
  display: none;
}

.showAnimation {
  animation: forwards 2s show;
}

.moveRightAnimation {
  animation: forwards 1s moveLeft;
}

.moveLeftAnimation {
  animation: forwards 1s moveRight;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes moveLeft {
  0% {
    position: relative;
    opacity: 0;
    transform: translateX(50%) scaleX(100%);
  }

  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes moveRight {
  0% {
    position: relative;
    opacity: 0;
    transform: translateX(-50%) scalex(100%);
  }

  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@media (max-width:768px) {
  .formsContainer {
    width: 70%;
  }
}

@media (max-width:425px) {
  .formsContainer {
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    color: #000;
  }

  ::ng-deep .mat-form-field-label {
    color: #000 !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #00000078 !important;
  }

  ::ng-deep.mat-form-field-ripple {
    background-color: #000 !important;
  }

  form>button {
    background-color: #000;
    color: #fff;
  }

}