<!-- Verificar se o código está bom e funcional -->
<!-- Enviar pro git -->

<div class="component">
    <div class="formsContainer">
        <button class="backIcon" mat-icon-button routerLink="/signIn">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <form class="emailForm">
            <h1>Esqueceu sua senha</h1>
            <p>Será eviado um email com um código de verificação.</p>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput [(ngModel)]="email" name="email">
            </mat-form-field>
            <button mat-flat-button (click)="sendCodeEmail()"
                [disabled]="email === '' || email === undefined">Enviar</button>
        </form>

        <form class="codeForm none">
            <h1>Digite o código do email</h1>
            <mat-form-field>
                <input type="text" matInput maxlength="6" [(ngModel)]="code" name="code">
            </mat-form-field>
            <a class="link" (click)="return()">Trocar o email</a>
            <a class="link" (click)="sendCodeEmail()">Reenviar</a>
            <button mat-flat-button (click)="checkEmailCode()"
                [disabled]="code === undefined || code.length < 6">Confirmar</button>
        </form>
    </div>
</div>