<div class="head">
  <a href="" class="logo">
    <h1>Logo</h1>
  </a>
  <form class="search">
    <input type="text" [formControl]="searchInput">
    <button class="search-btn" [disabled]="searchInput.invalid" routerLink="/search/{{searchInput.value}}">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div>
    <button mat-icon-button class="btn" routerLink="/signIn">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="btn" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button color="warn" class="btn" routerLink="/list">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
