<div class="head mat-elevation-z3">
    <a href="" class="logo" *ngIf="screenSize > 900">E-commerce</a>
    <a href="" class="logo" *ngIf="screenSize < 900">E</a>
    <div class="search">
        <input type="text" placeholder="Pesquisar" [(ngModel)]="searchInput" (keyup.enter)="search()">
        <button (click)="search()" [disabled]="searchInput === '' ">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="options">
        <div *ngIf="logged === false" class="logged">
            <a routerLink="signUp">Cadastro</a>
            /
            <a routerLink="signIn">Login</a>
        </div>
        <button mat-icon-button routerLink="cart">
            <mat-icon class="icons">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button routerLink="favoriteList">
            <mat-icon class="icons">favorite</mat-icon>
        </button>
        <button mat-icon-button *ngIf="logged === true" routerLink="user">
            <mat-icon class="icons">person</mat-icon>
        </button>
        <button mat-icon-button *ngIf="logged === true" routerLink="allOrders">
            <mat-icon class="icons">shopping_basket</mat-icon>
        </button>
        <div class="themeIcons" (click)="themeToggle()">
            <button mat-icon-button class="sun">
                <mat-icon>wb_sunny</mat-icon>
            </button>
            <button mat-icon-button class="moon">
                <mat-icon>brightness_4</mat-icon>
            </button>
        </div>

    </div>

    <button mat-icon-button class="menu" (click)="isSidebarOpen.toggle()">
        <mat-icon class="icons">menu</mat-icon>
    </button>
</div>