h1 {
    margin: 0;
}

.head {
    height: 60px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    width: 40%;
    border: none;
}

.search input {
    width: 100%;
    padding: 6px;
    margin-right: 10px;
}

.search input:focus  {
     outline: none;
}

.search-btn {
    background-color: #fff;
    border: 1px solid;
}

.btn {
    background-color: transparent;
    border: none;
}