.orderComponent {
  display: grid;
  grid-column: auto;
  padding: 1rem 3rem;
}

.orderContainer {
  background-color: var(--card-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.products {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.productInfos {
  display: flex;
  margin-top: 1rem;
}

.infos {
  margin-left: 1rem;
}

.productInfos div:first-child {
  margin-top: 0;
}

.productInfos img {
  max-width: 150px;
  border-radius: 5px;
}

button {
  background-color: var(--main-color);
  color: var(--opposite-text-color);
}

.teste {
  margin: 1rem;
  width: 20%;
}

.noOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  background-color: var(--card-color);
}
