<div class="list" *ngIf="products != false">
  <div class="products">
    <div class="product" *ngFor="let product of products">
      <div class="productInfos" routerLink="/product/{{product.id}}">
        <img [src]="product.img" alt="produto img" width="100px">
        <span>
          <h1>{{product.name}}</h1>
          <h2>R${{product.price}}</h2>
        </span>
      </div>
      <button mat-icon-button color="warn" (click)="remove(product)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="list empty" *ngIf="products === false">
  <h1>Sua lista de favoritos está vazia</h1>
  <p>Você não adicionou nem um produto a sua lista.</p>
  <button mat-button class="btn" routerLink="">Ínicio</button>
</div>
