.list {
    padding: 40px 70px;
    color: #Fff;
  }
  
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424242;
  }
  
  .products {
    background-color: #424242;
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid #ffd740;
  }
  
  .productInfos {
    display: flex;
    align-items: center;
  }

  .productInfos img {
    border-radius: 4px;
  }
  
  .productInfos span h1 {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  .productInfos span h2 {
    margin: 0 10px;
  }

  .btn {
    color: #ffd740;
  }