.cart {
  padding: 40px 70px;
  background-color: #424242;

}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid #ffd740;
  color: #fff;
}

.productInfos {
  display: flex;
  align-items: center;
}

.productInfos img {
  border-radius: 4px;
}

.productInfos span h1 {
  font-size: 18px;
  margin-left: 10px;
}

.productInfos span a {
  margin: 0 10px;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  border-bottom: 1px solid #ffd740;
  padding: 20px;
}

.btn {
  margin-top: 10px;
  text-align: end;
  background-color: #ffd740;
}


.btnE {
  color: #ffd740;
}
