<div class="cart" *ngIf="products != false">
  <div>
    <div class="product" *ngFor="let product of products">
      <div class="productInfos">
        <img [src]="product.img" alt="produto img" width="100px" routerLink="/product">
        <span>
          <h1 routerLink="/product/{{product.id}}">{{product.name}}</h1>
          <button mat-stroked-button color="warn" (click)="remove(product)">Excluir</button>
          <button>Qtd</button>
        </span>
      </div>
      <h2>R${{product.price}}</h2>
    </div>
  </div>
  <div class="prices">
    <p>Frete: </p>
    <p>preço total: </p>
  </div>
  <button mat-raised-button class="btn"> Comprar </button>
</div>

<div class="cart empty" *ngIf="products === false">
  <h1>O carrinho está vazio</h1>
  <p>Adicione produtos no carrinho para aparecerem aqui.</p>
  <button mat-button class="btnE" routerLink="">Ínicio</button>
</div>
