.signUp {
  height: 100vh;
  /* padding: 0 50px 20px ; */
  background-color: #ffba00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.form {
  width: 45%;
  background-color: #151515d8;
  color: #fff;
  padding:  2rem 3rem;
  border-radius: 1rem;
  margin: auto;
}

.form h1 {
  margin: 0;
  text-align: center;
}

.fields {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 17px;
  width: 100%;
  margin: 1.2rem 0;
  height: 1.5rem;
}

/* input */
::ng-deep .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #fff !important;
}

::ng-deep .mat-form-field-invalid .mat-form-field-ripple {
  background-color: #ff3333 !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: #ffba00 !important;
}

::ng-deep .mat-form-field-required-marker {
  display: none;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #ffba00;
  color: #fff;
  width: 70%;
  border-radius: 20px;
  padding: 5px 0;
  margin-top: 3rem;
}

.btn:disabled {
  color: #ffffff70;
}

.loginLink {
  text-align: center;
  margin-top: 2rem;
}

.loginLink a {
  text-decoration: underline;
  color: #ffba00;
}

@media (max-width: 1000px) {
  .form {
    width: 30%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .form {
    width: 63%;
    padding: 2rem;
  }

  .mat-form-field {
    height: 1rem;
    margin: 1rem 0;
  }

  .login {
    margin-top: 2rem;
  }
}

@media (max-width: 425px) {
  .form {
    width: 80%;
    padding: 0;
    background-color: transparent;
    color: #000;
  }

  .mat-form-field {
    height: 1.5rem;
    margin: 1rem 0;
    width: 100%;
  }

  ::ng-deep .mat-form-field-label {
    color: #000 !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #00000068 !important;
  }

  ::ng-deep.mat-form-field-ripple {
    background-color: #000 !important;
  }

  .btn {
    background-color: #000;
    color: #fff;
    margin-top: 3.5rem;
    width: 100%;
  }

  .login {
    margin-top: 2rem;
  }

  .login a {
    color: #000;
  }
}
