.footer {
  background-color: #000;
  color: #ffffffb3 !important;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  padding: 3rem;
  /* padding-top: 2rem; */
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav h2 {
  color: #fff;
  margin-bottom: 1.5rem;
}

.option {
  font-size: 1rem;
  color: #ffffffb3;
  text-decoration: none;
}

.option:hover {
  color: #fff;
}

.socialMedias {
  overflow: hidden;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

.socialMedias h2 {
  width: 60%;
  text-align: center;
  color: #fff;
}

.links {
  display: flex;
}

.links button {
  margin-right: 1rem;
}

.links img {
  height: 40px;
}

.copyrights {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}


@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }

  .nav {
    min-width: 33%;
    margin-bottom: 2rem;
  }

  .socialMedias {
    min-width: 33%;
    align-items: center;
    margin-bottom: 3rem;
  }

  .socialMedias h2 {
    margin-right: 10px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 374px) {
  .footer {
    padding: 3rem 1rem;
  }

  .socialMedias {
    width: 100%;
  }
}