<div class="footer">
    <div class="nav">
        <h2>Categorias</h2>
        <div>
            <p class="option">Categoria1</p>
            <p class="option">Categoria2</p>
            <p class="option">Categoria3</p>
            <p class="option">Categoria4</p>
        </div>
    </div>
    <div class="nav">
        <h2>Suporte</h2>
        <div>
            <p class="option">Fale conosco</p>
            <p class="option">Whatsapp</p>
        </div>
    </div>

    <!-- Descobrir o que colocar aqui -->
    <div class="nav">
        <h2>Teste</h2>
        <div>
            <p class="option">Teste</p>
            <p class="option">Teste</p>
        </div>
    </div>
    <div class="socialMedias">
        <h2>Siga-nos</h2>
        <div class="links">
            <button mat-icon-button>
                <img src="../../../assets/instagram_icon.png" alt="">
            </button>
            <button mat-icon-button>
                <img src="../../../assets/facebook_icon.png" alt="">
            </button>
            <button mat-icon-button>
                <img src="../../../assets/twitter_icon.png" alt="">
            </button>
        </div>
    </div>
</div>