<div class="notificationsComponent" *ngIf="!loading">
    <div *ngIf="componentSelect === false">
        <div class="controlPanel">
            <mat-checkbox></mat-checkbox>

            <button mat-icon-button (click)="getNotifications()">
                <mat-icon>update</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>

            <button mat-icon-button color="warn">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>
        <button class="archived" *ngIf="archived?.length > 0 " (click)="componentSelect = true">
            <h2>Notificações arquivadas</h2>
        </button>

        <div class="notificationsContainer" *ngIf="componentSelect === false">
            <div class="notificationsComponent" *ngIf="notifications?.length === 0">
                <mat-card class="noNotification">
                    <h1>Sem notificações no momento</h1>
                </mat-card>
            </div>

            <div *ngFor="let notification of notifications" class="notification"
                [ngClass]="notification.new ? 'new' : '' " routerLink="/admin/orders/{{notification.order}}">
                <span class="messageContainer" (click)="checkNotification(notification)">
                    <mat-checkbox class="checkbox" (click)="$event.stopPropagation()"
                        (change)="selectedNotification(notification)"></mat-checkbox>
                    <p> {{ notification.message }}</p>
                </span>
                <div class="date">
                    {{notification.date}}
                </div>
                <div class="actions">
                    <button mat-icon-button color="" (click)="archiveNotification(notification, $event)">
                        <mat-icon>archive</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteNotification(notification, $event)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Mini componente de notificações arquivadas -->
    <div *ngIf="componentSelect">
        <div class="return">
            <button mat-icon-button class="backBtn" (click)="componentSelect = false">
                <mat-icon> arrow_back </mat-icon>
            </button>
            <h1>Notificações arquivadas</h1>
        </div>
        <div class="notificationsContainer">
            <div class="notification" *ngFor="let notification of archived"
                routerLink="/admin/orders/{{notification.order}}">
                <span class="messageContainer">
                    <mat-checkbox class="checkbox"></mat-checkbox>
                    <p>{{notification.message}}</p>
                </span>
                <div>
                    <button mat-icon-button (click)="unarchiveNotification(notification, $event)">
                        <mat-icon>unarchive</mat-icon>
                    </button>
                    <!-- <button mat-icon-button color="warn" (click)="deleteNotification(notification)">
                    <mat-icon>delete</mat-icon>
                </button> -->
                </div>
            </div>
        </div>
    </div>
</div>