.fullTable {
    width: 90%;
    border-radius: 5px;
    overflow: hidden !important;
  }
  
  mat-table {
    width: 100%;
    background-color: var(--card-color);
  }
  
  tr {
    vertical-align: middle;
  }
  
  th {
    width: 20rem;
  }
  
  th,
  td {
    border-bottom: 1px solid var(--disabled-color);
    color: var(--text-color);
  }
  
  .status {
    background-color: green;
    width: 40%;
    border-radius: 10rem;
    text-align: center;
    margin-bottom: 0;
  }
  
  .mat-row:hover {
    background-color: var(--hover-color);
  }
  
  mat-paginator {
    background-color: var(--card-color);
    color: var(--text-color);
  }
  
  ::ng-deep.mat-button-disabled {
    color: var(--disabled-color) !important;
  }
  
  ::ng-deep .mat-select-value,
  ::ng-deep .mat-select-arrow {
    color: var(--text-color) !important;
  }
  
  ::ng-deep .mat-form-field-underline {
    background-color: white !important;
    color: white !important;
  }

