<div class="userDataComponent">
    <form class="form">
        <h1 class="title">Meus dados</h1>
        <div class="field">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input  type="text" matInput>
            </mat-form-field>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="field">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input disabled type="text" matInput>
            </mat-form-field>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="field">
            <mat-form-field>
                <mat-label>Telefone</mat-label>
                <input disabled type="text" matInput>
            </mat-form-field>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="field">
            <mat-form-field>
                <mat-label>CPF</mat-label>
                <input disabled type="text" matInput>
            </mat-form-field>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <button mat-flat-button class="saveButton">Salvar Alterações</button>
    </form>
</div>