<div class="signUp">
    <form class="form">
      <h1>Cadastro</h1>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirmar senha</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <button mat-flat-button color="primary" class="btn" routerLink="">Cadastrar</button>
      <a class="link" (click)="teste()">Possui conta ?</a>
      <a class="link">Esqueceu sua senha ?</a>
    </form>
  </div>