.adminComponent {
  width: 100%;
  height: 100vh;
}

.sidenav {
  width: 25%;
  background-color: var(--card-color);
  color: var(--text-color);
}

.nav a {
  color: var(--text-color);
}

.nav a:hover {
  background-color: var(--hover-color);
}

mat-icon {
  margin-right: 10px;
}

.teste {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.teste mat-icon {
  position: absolute;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: var(--main-color-hover);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: var(--main-color);
}

.selected {
  color: var(--main-color) !important;
  background-color: var(--main-color-hover) !important;
}

.main {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 75%;
  padding: 4rem 0rem 2rem;
}

.menu {
  position: absolute;
  top: 1%;
  left: 4%;
  display: none;
}

.menu mat-icon {
  margin: 0;
}

.hideAnimation {
  animation: both alternate 0.5s hide;
}

.showAnimation {
  animation: both alternate 0.5s show;
}

.hide {
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
    /* transform: rotate(360deg); */
  }
}

@keyframes hide {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
    /* transform: rotate(360deg); */
    display: none;
  }
}

@media (max-width: 768px) {
  .sidenav {
    width: 50%;
  }

  .main {
    width: 100%;
  }

  .menu {
    display: block;
  }
}

@media (max-width: 500px) {
  .sidenav {
    width: 70%;
  }
}