<mat-sidenav-container class="adminComponent">
    <mat-sidenav #drawer class="sidenav" [mode]="sidebarMode">
        <mat-nav-list class="nav">
            <a mat-list-item routerLink="products" [ngClass]="selected === 'Products' ? 'selected' : '' ">
                <mat-icon>storefront</mat-icon>
                Produtos
            </a>

            <a mat-list-item routerLink="promotions" [ngClass]="selected === 'Promotions' ? 'selected' : '' ">
                <mat-icon>local_offer</mat-icon>
                Promoções
            </a>

            <a mat-list-item routerLink="orders" [ngClass]="selected === 'Orders' ? 'selected' : '' ">
                <mat-icon>list_alt</mat-icon>
                Pedidos
            </a>

            <a mat-list-item routerLink="notifications" [ngClass]="selected === 'Notifications' ? 'selected' : '' ">
                <mat-icon>notifications_active</mat-icon>
                Notificações
            </a>

            <a mat-list-item routerLink="adminUsersList" [ngClass]="selected === 'AdminUsers' ? 'selected' : '' ">
                <mat-icon>person</mat-icon>
                Configurações de Usuário
            </a>

            <a mat-list-item>
                <div class="teste">
                    <mat-icon class="sun">wb_sunny</mat-icon>
                    <mat-icon class="moon">brightness_4</mat-icon>
                </div>
                <mat-slide-toggle class="slideToggle" (change)="themeToggle()" [checked]="checked"></mat-slide-toggle>
            </a>

            <a mat-list-item (click)="signOut()">
                <mat-icon>exit_to_app</mat-icon>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main">
        <button (click)="drawer.toggle()" class="menu" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <app-loading></app-loading>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>