h2 {
  margin: 0;
}

.main {
  width: 100%;
  overflow: hidden;
  color: #ffffff8a;
}

.carousel {
  display: flex;
  width: 100%;
  animation: carousel-slide 10s infinite;
  margin-bottom: 4rem;
}

.img {
  min-width: 100%;
}

.img img {
  width: 100%;
  object-fit: cover;
}

.alertBtns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.alertBtns>button {
  width: 5vw;
  background-color: transparent;
  border: 0;
  color: transparent;
}

.alertBtns>button:hover {
  color: #fff;
  transition: 0.4s;
  background-color: #00000028;
  border: 0;
}

.teste {
  margin: 0 auto;
  padding: 0 3rem;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem;
  padding: 0 5%;
  gap: 2.5rem 2rem;
}

.product {
  background-color: var(--card-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding: 0;
  max-width: 300px;
}

.product:hover {
  background-color: var(--hover-color);
}

.product>img {
  width: 100%;
  height: 17vh;
  border-radius: 3px 3px 0 0;
  margin-bottom: 2rem;
}

.productInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.productInfos h2 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
}

.productInfos p {
  color: var(--secondary-text-color);
  font-size: 23px;
}

.priceContainer .oldPrice {
  color: var(--error-color);
  margin-right: 1rem;
  margin-bottom: 0.6rem;
  font-size: 17px;
}

@keyframes carousel-slide {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  33.33% {
    transform: translateX(-100%);
  }

  58.33% {
    transform: translateX(-100%);
  }

  66.66% {
    transform: translateX(-200%);
  }

  91.66% {
    transform: translateX(-200%);
  }
}

@media (max-width: 1024px) {

}

@media (max-width:575px) {
  .teste {
    padding: 0 1rem;
  }

  .productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 100%;
  }
} 