<div class="main" *ngIf="!loading">
    <div class="alerts">
        <div class="imgs">
            <img *ngFor="let img of imgss" [src]="img.url" alt="" class="img{{img.imgNumber}}">
        </div>

        <div class="alertBtns">
            <button class="navBtn1" (click)="prev()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

            <button class="navBtn2" (click)="next()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>
    </div>


    <h1>Produtos</h1>

    <div class="productsContainer">
        <mat-card class="product" (click)="selectProduct(product)" *ngFor="let product of products">
            <img *ngIf="product.imgs.length != 0" [src]="product.imgs[0].url" alt="">
            <img *ngIf="product.imgs.length === 0" src="../../../assets/without img.jpg" alt="">
            <div class="productInfos">
                <h2>{{product.name}}</h2>
                <p>R$ {{product.price.toFixed(2).replace('.', ',')}}</p>
                <!-- | currency:'BRL'}} -->
            </div>
        </mat-card>
    </div>
</div>

<!-- Adicionar categorias no lugar de todos os products -->
<!-- Colocar um limite de quantas categorias aparecer -->
<!-- No final um button para redirecionar o usuário para uma tela de todos os products da categoria -->
<!-- Adicionar metodo para selecionar randomicamente as categorias -->