<div class="favoriteListComponent" *ngIf="!loading">
    <div *ngIf="empty === false">
        <mat-card class="productContainer" *ngFor="let product of list">
            <div class="productInfos">
                <div class="imgContainer">
                    <img *ngIf="product.imgs[0]" [src]="product.imgs[0]?.url" alt="">
                    <img *ngIf="product.imgs[0] === undefined" src="./../../../assets/without img.jpg">
                </div>
                <h1 routerLink="/product/{{product.id}}">{{product.name}}</h1>
            </div>
            <button mat-icon-button (click)="remove(product)">
                <mat-icon color="warn">favorite</mat-icon>
            </button>
        </mat-card>
    </div>

    <mat-card class="empty" *ngIf="empty === true">
        <h1>Sua Lista está vazia</h1>
        <h2>Deixe aqui os produtos que você possa desejar no futuro.</h2>
        <button mat-flat-button routerLink="">Início</button>
    </mat-card>
</div>