<div class="productComponent" *ngIf="!loading">
    <div class="product">
        <div>
            <img *ngIf="selectedImg != undefined" [src]="selectedImg" alt="" class="selectedImg">
            <img *ngIf="selectedImg === undefined" src="../../../assets/without img.jpg" alt="" class="selectedImg">
            <div class="allImgs">
                <img *ngFor="let img of product?.imgs" [src]="img.url" alt="" (click)="selectedImg = img.url">
            </div>
        </div>

        <div class="productInfos">
            <h1 class="productName">{{product?.name}}</h1>

            <div class="priceContainer" *ngIf="product.promotionInfos === null || product.promotionInfos === undefined">
                <p class="productPrice">R${{product?.price.toFixed(2).replace('.', ',')}}</p>
            </div>

            <div class="priceContainer" *ngIf="product.promotionInfos != null && product.promotionInfos != undefined">
                <p class="oldPrice"><s>R${{product?.price.toFixed(2).replace('.', ',')}}</s></p>
                <span>
                    <h2 class="productPrice">R$ {{product.promotionInfos?.promotionPrice.toFixed(2).replace('.', ',')}}
                    </h2>
                    <p class="percentage"> {{product.promotionInfos?.percentage}}%</p>
                </span>
            </div>
            <!-- | currency:'BRL'}} -->

            <div>
                <p>Quantidade: </p>
                <div class="amountContainer">
                    <button (click)="subAmount()" mat-icon-button>-</button>
                    <p>{{amount}}</p>
                    <button (click)="addAmount()" mat-icon-button>+</button>
                </div>
            </div>

            <div class="icons">
                <div>
                    <button mat-icon-button color="warn" (click)="addFavorites()">
                        <mat-icon>{{favorite? "favorite" : "favorite_border"}}</mat-icon>
                    </button>
                </div>

                <button mat-icon-button>
                    <mat-icon>link</mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon>share</mat-icon>
                </button>
            </div>


            <div class="actionButtons">
                <button mat-flat-button (click)="addCart()">Adicionar ao carrinho</button>
                <button mat-flat-button (click)="buy()">Comprar</button>
            </div>
        </div>
    </div>
    <!-- <div class="questionsContainer">
        <div class="question">
            <mat-card>Teste</mat-card>
        </div>
        <div class="answer">
            <mat-card>Teste</mat-card>
        </div>
    </div> -->
</div>