<div class="productComponent">
  <div class="product">
    <div class="infos">
      <img class="productImg" [src]="productInfos?.img" alt="" width="200px">
      <span>
        <h1>{{productInfos?.name}}</h1>
        <h2>R${{productInfos?.price}}</h2>
        <div class="actions">
          <button mat-button color="primary" (click)="moveToCart()">Adicionar ao carrinho</button>
          <button mat-button color="primary" (click)="moveToList()">Adicionar a sua lista</button>
          <button mat-button color="primary">Frete</button>
        </div>
      </span>
      <button mat-flat-button color="primary" class="buy-btn">Comprar</button>
    </div>
  </div>
  <div class="questions">
    <h1>Perguntas</h1>
    <mat-card class="questionAndAnswer" *ngFor="let quest of question">
        <span class="question">
            Pergunta:
            <p>{{quest.quest}}</p>
        </span>
        <span class="answer">
            Resposta:
            <p>{{quest.answer}}</p>
        </span>
    </mat-card>
    <div>
        <mat-form-field class="questionInput">
            <mat-label>Escreva sua pergunta aqui</mat-label>
            <input type="text" matInput [formControl]="input">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="questions()" [disabled]="input.invalid">Enviar</button>
    </div>
</div>
</div>
