h1 {
  margin: 0;
}

.productComponent {
  max-width: 100vw;
}

.title {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns button {
  margin-right: 15px;
  background-color: var(--main-color);
  color: var(--opposite-text-color);
}

table {
  margin-top: 1rem;
  overflow: auto;
  /* max-width: 10vw; */
  max-width: 100vw;
  /* table-layout: fixed; */
}

.actionHead {
  padding-left: 2.1rem;
}

tr {
  display: flex;
  align-items: center;
}

td {
  word-break: break-all;
  text-align: start;
  width: 20%;
}

th.mat-header-cell:first-of-type {
  width: 8%;
  text-align: start;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20rem;
  padding-right: 2rem;
}

.editBtn {
  color: var(--main-color);
}

.tableFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.paginator {
  color: var(--text-color);
  background-color: transparent;
}

::ng-deep.mat-button-disabled {
  color: var(--disabled-color) !important;
}

::ng-deep .mat-select-value,
::ng-deep .mat-select-arrow {
  color: var(--text-color) !important;
}