.signIn {
  height: 100vh;
  background-color: #ffba00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: #151515d8;
  width: 40%;
  color: #fff;
  padding: 3rem;
  border-radius: 1rem;
}

.form h1 {
  text-align: center;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  font-size: 17px;
  width: 80%;
}

::ng-deep .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #fff !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #ffba00 !important;
}

.forgotPassword {
  display: flex;
  justify-content: end;
  width: 90%;
  font-size: 17px;
  margin: 10px 0 20px 0;
  color: #ffba00;
  text-decoration: underline;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #ffba00;
  color: #fff;
  width: 70%;
  border-radius: 20px;
  padding: 5px 0;
  margin-top: 20px;
}

.login {
  text-align: center;
  margin-top: 4rem;
}

.login a {
  text-decoration: underline;
  color: #ffba00;
}

@media (max-width: 765px) {
  .signIn {
    align-items: center;
    justify-content: center;
  }

  .form {
    width: 80%;
    background-color: transparent;
    color: #000;
    padding: 0;
  }

  .mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-form-field-label {
    color: #000 !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.406) !important;
  }

  ::ng-deep.mat-form-field-ripple {
    background-color: #000 !important;
  }

  .forgotPassword {
    color: black;
  }

  .btn {
    width: 100%;
    background-color: #000;
  }

  .login a {
    color: #000;
  }

}