<div class="cartComponent" *ngIf="!loading">
    <mat-card class="emptyCart" *ngIf="empty">
        <h1>O seu carrinho está vazio</h1>
        <h2>Dê uma olhada em nosso produtos ou os que ja estão em sua lista.</h2>
        <button mat-flat-button routerLink="">Início</button>
    </mat-card>

    <div class="fullCart" *ngIf="!empty">
        <div class="productsContainer">
            <mat-card class="product" *ngFor="let product of products">
                <div class="productInfos">
                    <img *ngIf="product.imgs[0]" [src]="product.imgs[0]?.url" alt="">
                    <img *ngIf="product.imgs[0] === undefined" src="./../../../assets/without img.jpg">
                    <h1 class=" productName" routerLink="/product/{{product.id}}">{{product.name}}</h1>
                </div>
                <div>
                    <div class="amountContainer">
                        <button (click)="subProductAmount(product)" mat-icon-button>-</button>
                        <p>{{product.amount}}</p>
                        <button (click)="addProductAmount(product)" mat-icon-button>+</button>
                    </div>
                </div>
                <h1 *ngIf="product.promotionInfos === null || product.promotionInfos === undefined">R$
                    {{product.price.toFixed(2).replace('.', ',')}}</h1>
                <h1 *ngIf="product.promotionInfos != null && product.promotionInfos != undefined">R$
                    {{product.promotionInfos?.promotionPrice.toFixed(2).replace('.', ',')}}</h1>
                <button mat-icon-button color="warn" (click)="removeCartItem(product)" class="closeBtn">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card>
        </div>
        <div class="total">
            <h2>Frete: R$ 0</h2>
            <h2>Produtos: R$ {{all}}</h2>
            <h1>Total: R$ {{all}}</h1>
            <button mat-flat-button (click)="pay()">Fechar pedido</button>
        </div>
    </div>

</div>