<div class="userDatasComponent" *ngIf="!loading">
    <div class="userInfos">
        <h2>Meus dados</h2>
        <form class="formContainer" [formGroup]="userForm">
            <mat-form-field>
                <mat-label>Nome completo</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Telefone</mat-label>
                <input type="text" matInput formControlName="phone">
            </mat-form-field>
        </form>
        <button mat-flat-button [disabled]="userForm.pristine" (click)="updateUserInfos()">Atualizar perfil</button>

        <h2>Endereço</h2>
        <form class="formContainer" [formGroup]="addressForm">
            <mat-form-field>
                <mat-label>Cep</mat-label>
                <input type="text" matInput formControlName="cep">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Número</mat-label>
                <input type="text" matInput formControlName="number">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Bairro</mat-label>
                <input type="text" matInput formControlName="neighborhood">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cidade</mat-label>
                <input type="text" matInput formControlName="city">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Estado</mat-label>
                <input type="text" matInput formControlName="state">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Extra</mat-label>
                <input type="text" matInput formControlName="extra">
            </mat-form-field>
        </form>
        <button mat-flat-button [disabled]="addressForm.pristine" (click)="updateUserInfos()">Atualizar
            Endereço</button>

        <!-- <h2>Editar Senha</h2>
        <form class="formContainer">
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input type="text" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nova senha</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </form>
        <button mat-flat-button disabled>Editar senha </button> -->

        <h2>Sair da conta</h2>
        <p>Assim que você apertar o botão, você será encaminhado para tela de login.</p>
        <button mat-flat-button color="warn" (click)="signOut()">Sair da Conta</button>

        <h2>Deletar conta</h2>
        <p>Assim que você confirmar a exclusão, sua conta ira ser deletada permanentemente. Após
            um período de 3 meses você podera criar outra conta com mesmo email.</p>
        <button mat-flat-button color="warn" (click)="openDialog()">Deletar Conta</button>
    </div>
</div>
