h2 {
  margin: 1rem 0 5px 0;
  color: var(--text-color);
}

.userDatasComponent {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cdk-overlay-container {
  height: 10%;
}

.userInfos {
  width: 60%;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  background-color: var(--main-color);
  color: var(--opposite-text-color);
  margin: 1.5rem 0 2.5rem 0;
}

::ng-deep.mat-flat-button:disabled {
    background-color: var(--disabled-color) !important;
    color: var(--secondary-text-color) !important;
}

p {
  color: var(--secondary-text-color);
}

::ng-deep .mat-form-field {
  color: var(--text-color);
}

::ng-deep .mat-form-field-label {
  color: var(--secondary-text-color) !important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--text-color) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--main-color) !important;
}

@media (max-width:425px) {
  .userInfos {
    width: 70%;
  }
}