h2 {
  margin: 0
}

.main {
  margin: 20px 50px;
}

.products {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 40px;
}

.product {
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.product:hover {
  background-color: #aeaeae14;
}

.img {
  width: 200px;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cecece;
}

.img img {
  max-width:200px;
  max-height:176px;
  width: auto;
  height: auto;
  border-radius: 4px ;
  
  padding-bottom: 15px;
}
