p {
  margin: 0;
}

.categoryComponent {
  color: var(--text-color);
}

.teste {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teste button {
  background-color: var(--main-color);
  color: var(--opposite-text-color);
}

.list {
  border-top: 1px solid var(--disabled-color);
}

.listItem {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--hover-color);
}

.listItem p {
  padding: 10px 0;
  width: 80%;
}

.returnBtn {
  margin-top: 1rem;
  float: right;
}

/* mat-label normal state style */
.mat-form-field {
  width: 60%;
}

/* mat-label normal state style */
::ng-deep .mat-form-field-label {
  color: var(--text-color) !important;
}

::ng-deep.mat-dialog-container {
  background-color: var(--card-color) !important;
  color: var(--text-color) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--main-color) !important;
}

@media (max-width: 430px) {
  .teste {
    flex-direction: column;
    padding: 1rem 0;
  }

  .mat-form-field {
    width: 100%;
  }

  .teste button {
    width: 100%;
  }

  .list {
    border: none;
  }
}