/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Varíaveis */

/* Dark mode */
:root {
    --backgroud-color: #171717;
    --orange: #ffba00;
    --card-color: #282828;
    --white: #fff; 
    --text-color: #fff;
    --secondary-text-color: #b3b3b3;
    --hover-color: #404040;
}

/* Light mode */
.lightMode{
    --backgroud-color: #fff;
    --orange: #ffba00;
    --card-color: #fff;
    --text-color: #000;
    --secondary-text-color: #b3b3b3;
    --hover-color: #f0f0f0;
}