.orderDetails {
  width: 100%;
  padding: 0 3rem;
}

.orderInfos {
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 3rem;
}

.backBtn {
  position: absolute;
  top: 0;
  left: 2%;
  margin-bottom: 1rem;
}

.userInfos {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.userInfos div:nth-of-type(2) {
  margin: 0 20px;
}

.product {
  background-color: var(--secondary-card-color);
}

/* Mat expansion styles */
mat-expansion-panel {
  margin: 1rem 0;
  color: var(--text-color);
}

mat-panel-title {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
  margin: 1rem 0;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  color: var(--text-color) !important;
}

.amount {
  text-align: end;
}

@media (max-width: 531px) {
  .userInfos {
    display: flex;
    flex-direction: column;
  }

  .userInfos div:nth-of-type(2) {
    margin: 0;
  }

}

@media (max-width: 425px) {
  .orderDetails {
    padding: 0;
  }

  .orderInfos {
    width: 100%;
    box-shadow: none;
    background-color: transparent;
  }

  .orderInfos div {
    margin-bottom: 1rem;
  }

  .userInfos div:nth-of-type(2) {
    margin: 0;
  }

  mat-panel-title {
    width: 100%;
    overflow: hidden;
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}