.orderDetails {
  width: 90%;
  padding: 0 3rem;
}

.backBtn {
  margin-bottom: 1rem;
}

.orderInfos {
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 1rem 3rem;
}

.userInfos {
  display: flex;
  justify-content: space-between;
}

.product {
  background-color: var(--secondary-card-color);
}

/* Mat expansion styles */
mat-expansion-panel {
  margin: 1rem 0;
  color: var(--text-color);
}

mat-panel-title {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 12rem;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child {
  margin: 1rem 0;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  color: var(--text-color) !important;
}

.amount {
    text-align: end;
}
