<div class="productComponent" *ngIf="page === '' ">
    <h1 class="title">Produtos</h1>
    <mat-table [dataSource]="dataSource" class="table ">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element" class="tableId">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element">{{element.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="preco">
            <th mat-header-cell *matHeaderCellDef> Preço </th>
            <td mat-cell *matCellDef="let element">{{element.preco}}</td>
        </ng-container>

        <ng-container matColumnDef="categorias">
            <th mat-header-cell *matHeaderCellDef> Categorias </th>
            <td mat-cell *matCellDef="let element">{{element.category}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="page = 'edit' ">
                    <mat-icon>local_offer</mat-icon>
                </button>

                <button mat-icon-button color="primary" (click)="page = 'edit' ">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </mat-table>
    <div class="tableFooter">
        <button mat-flat-button color="primary" (click)="page = 'new' ">Novo Produto</button>
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons class="paginator">
        </mat-paginator>
    </div>
</div>

<app-edit-product *ngIf="page === 'edit' " (teste)="recive($event)"></app-edit-product>
<app-new-product *ngIf="page === 'new' " (teste)="recive($event)"></app-new-product>