h1 {
  margin: 0;
}

.productComponent {
  max-width: 100%;
}

.title {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  margin-top: 1rem;
}

.actionHead {  
  padding-left: 2.1rem;
}

.name {
  white-space: nowrap;
  overflow: hidden ; 
  text-overflow: ellipsis;
  max-width: 20rem;
  padding-right: 2rem;
}

.tableFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.paginator {
  color: var(--text-color);
  background-color: transparent;
}

::ng-deep.mat-button-disabled {
  color: var(--disabled-color) !important;
}

::ng-deep .mat-select-value,
::ng-deep .mat-select-arrow {
  color: var(--text-color) !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #fff !important;
  color: #fff !important;
}
